*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}
span {
  display: inline-block;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

figure {
  margin: 0;
}
fieldset {
  border: 0;
}
.container {
  width: min(100% - 32px, 1024px);
  margin-inline: auto;
}
/* style */
.main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(
    140deg,
    rgba(0, 49, 128, 0.3),
    rgba(255, 166, 0, 0.2)
  );
  padding-block: 4rem;
}
/* GALLERY */

.overlay-image {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  animation: overlay 0.5s forwards;
  cursor: pointer;
  z-index: 5;
}
.overlay-image[data-visible="true"] {
  animation: overlay-image-true 0.5s forwards;
}
@keyframes overlay-image-true {
  from {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
  to {
    pointer-events: visible;
    opacity: 1;
    display: grid;
  }
}
.overlay-image[data-visible="false"] {
  animation: overlay-image-false 0.2s forwards;
}
@keyframes overlay-image-false {
  from {
    pointer-events: visible;
    opacity: 1;
    display: grid;
  }
  to {
    opacity: 0;
    pointer-events: none;
    display: none;
  }
}
.current-gallery-img {
  max-width: 80vw;
  max-height: 80vh;
  outline: 2vw solid rgba(0, 0, 0, 0.537);
  border-radius: 5px;
  animation: curr-img 0.5s forwards;
}
@keyframes curr-img {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    scale: 1;

    opacity: 1;
  }
}
.left-image {
  opacity: 0;
  transform: translateX(-50%);
  animation: left-image 0.5s forwards;
}
@keyframes left-image {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.right-image {
  opacity: 0;
  transform: translateX(50%);
  animation: right-image 0.5s forwards;
}
@keyframes right-image {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.gallery-btn {
  border-radius: 50%;
  aspect-ratio: 1;
  background-color: black;
  color: #fff;
  width: 3rem;
  position: absolute;
}
.gallery-btn i {
  pointer-events: none;
}
.gallery-btn--prev,
.gallery-btn--next {
  transition: 0.2s;
  outline: 2px solid var(--white);
  transform: translateY(-50%);
  top: 80%;
}
.gallery-btn--prev:hover,
.gallery-btn--next:hover {
  transition: 0.2s;
  outline: 2px solid var(--white);
  background-color: hsl(0, 0%, 19%);
}
.gallery-btn--prev {
  left: 1rem;
}
.gallery-btn--next {
  right: 1rem;
}
@media (min-width: 768px) {
  .gallery-btn--prev,
  .gallery-btn--next {
    top: 50%;
  }
}
.gallery__img {
  aspect-ratio: 3/2;
  object-fit: cover;
  cursor: pointer;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.gallery__img {
  transition: 0.2s;
}
.gallery__img:hover {
  scale: 1.05;
}
